# ======================
# IDE
# ======================
.idea/
*.iml
.vscode/

# ======================
# Build
# ======================
target/
out/
build/

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Env / Secrets
# ======================
.env
.env.*
application-secret.properties

# ======================
# Node (future frontend)
# ======================
node_modules/

# ======================
# Maven Wrapper Cache
# ======================
.mvn/wrapper/maven-wrapper.jar